* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*Chamando fonte*/
  font-family: "Ubuntu", sans-serif;
  font-size: 0.85rem;

  /* Bordas View */
  /*  border: solid 1px #fe02d0  ; */
}

.container-pai {
  width: 200px;
  height: 240px;

  /* FlexBox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  border-radius: 6px;
  padding: 4px 6px;
  border: 2px solid rgb(228, 117, 222);
}

/* config botões */
.container-button {
  width: 160px;
  margin-top: 5px;
  margin-bottom: 5px;
  gap: 5px;
  /* FlexBox */
  flex-wrap: wrap;
  display: flex;
  
}
.button-group{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container-button .button-group:last-child {
  justify-content: center;
}
.container-button .button-group:last-child .btn {
  width: 160px; 
}
button {
  background-color: rgb(201, 242, 255);
  color: rgb(66, 62, 62);
  border-radius: 6px;
  border: none;
}

.btn {
  cursor: pointer;
  width: 77px;
  padding: 1px;
}

/* Desafio para Turma B */
/* Cabeçalho */
.cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 8px;
}
.cabecalho h1 {
  color: rgb(92, 86, 86); 
}

/* Resultado */
.result {
  resize: none;
  width: 160px;
  height: 70px;
  padding: 4px 6px;
  border-radius: 6px;
  border: 2px solid rgb(228, 117, 222);

}
p{
  margin-top: 5px;
}
a {
  color: rgb(228, 117, 222);  
  font-weight: 500;
}
